#root {
  margin: 0 auto;
  text-align: start;
}

.h-100vh{
  height: 100vh;
}

.w-f200{
  width: 400px;
}

.enter-container{
  display: flex;
  align-items: center;
  height: 100%; 
}

.enter-inner{
  margin: auto;
}

.card-top{
  height: 64px;
}
